<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poseidon - Error 404</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-3">
            <img src="../../img/poseidon_inc.png" alt="Logo" width="150">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Page Not Found</h3>
            <p class="error" th:text="${errorMsg}">Error</p>
        </div>
    </div>
</div>
</body>
</html>